@charset"UTF-8";

/* ************************************* IMPORT ************************************* */

@font-face {
    font-family: "Droid";
    src: url("fonts/DroidSerif-Regular.ttf") format("truetype");
}



/* ************************************* MEDIA QUERIES ************************************* */



/* ************************************* GLOBAL ************************************* */

body{
    background-color: #ffffff;
}

.borda{
    border: 1px solid red;
}

.gradient:hover {
    color: black;  
    background: linear-gradient(135deg, rgba(12, 60, 193, 0.972), rgba(25, 186, 22, 0.699));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 7px 32px 0 rgba(0, 0, 0, 0.37); 
    border-radius: 10px; 
    transition: 0.2s;
}

.gradient:not(:hover){
    transition: 0.2s;
}

.gradient-icon:hover{
    color: black;  
    background: linear-gradient(135deg, rgba(219, 216, 216, 0.972), rgba(0, 0, 0, 0.474));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 7px 32px 0 rgba(0, 0, 0, 0.37); 
    border-radius: 100%; 
}

/* ************************************* HEADER ************************************* */


/*----------------------- NAV-TOPO-TELAS-SM ----------------------- */

/* // Medium devices (tablets, 768px and up) */

@media (max-width: 768px) { 
    .nav-topo{
        display: none;
        background-color: orange;
    }
}


/*----------------------- HEADER TOPO ----------------------- */

/* __________  logo __________ */


/* __________  barra de pesquisa __________ */

.form-control::placeholder {
    color: white; 
}

.input-group>.form-control, .input-group>.form-floating, .input-group>.form-select {
    color: white;
    text-transform: uppercase;
    background-color: #00000084;
    border-radius: 45px;
    border: 2px solid #575757a6;
}

.input-group>.form-control:focus,
.input-group>.form-floating:focus,
.input-group>.form-select:focus {
    border-color: #575757a6;;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2); 
}


/* __________  area usuário __________ */

.user-icon{
    margin-bottom: -5px;
    width: 30px;
    height: 58px;
    margin-left: 42px;
}

.user-area{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
    border-radius: 10px; 
    background-color: rgba(0, 0, 0, 0.55);
}

.user-area:hover{
    background-color: black;
    color: white;
}

@media (max-width: 768px){ 
    .user-icon{
        display: none;
    }

    .user-area{
        margin-left: 5px;
        margin-top: 7px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 991px) and (min-width: 768px){ 

    .ajuste-login{
        padding: 10px;
    }

    .ajuste-user-icon{
        margin-left: 1.25rem; /* 20 pixels */
        margin-right: 1.25rem; /* 20 pixels */
    }
}

/*----------------------- NAV ----------------------- */

/* __________  NAV-ESQUERDA __________ */

.icons-nav:hover{
    box-shadow: 0 7px 32px 0 rgba(0, 0, 0, 0.37);
    transition: 0.1s;
}

.icons-nav:not(:hover){
    transition: 0.1s;
}

/* __________  NAV-CENTRO __________ */

.background-escuro{
    color: white;
    background-color: #00000084;
    text-decoration: none;
    padding: 5px;
}

.gradient-no-radius:hover{
    color: rgb(255, 255, 255);  
    background: linear-gradient(135deg, rgba(219, 216, 216, 0.972), rgba(0, 0, 0, 0.474));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: 0.2s;
}

.gradient-no-radius:not(:hover){
    transition: 0.2s;
}

@media (max-width: 846px) and (min-width: 768px){
    .ajuste-centro-nav{
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
} 

@media (max-width: 992px){
    .nav-meio-borda{
        border-left: 1px solid white;
    }
} 

.nav-meio{
    position: relative;
    text-decoration: none;
    color: white;
}

.nav-meio::after{
    content: " ";
    position: absolute;
    bottom: -1px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: #ffc832;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.nav-meio:hover:after{
    transform: scaleX(1);
}

/* __________  NAV-DIREITA __________ */

.background-escuro-categorias{
    color: #ffc832;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 10px;
}


/* ************************************* MAIN ************************************* */

/*----------------------- CAROUSEL ----------------------- */

.carousel-conf{
    height: 250px;
}

.carousel-indicators [data-bs-target] {
    background-color: #454545;
}

.imagem1{
    background-image: 
    url(https://static1.squarespace.com/static/5e949a92e17d55230cd1d44f/t/613f65bbaf30031d31df3077/1631544779120/California+Streaming+6K+No+Logo.png);
    background-size: cover;
    height: 250px;
}

.imagem2{
    background-image: url(https://images.ecycle.com.br/wp-content/uploads/2021/05/20195924/o-que-e-paisagem.jpg);
    background-size: cover;
    height: 250px;
}

.imagem3{
    background-image: url(https://wallpapers.com/wp-content/themes/wallpapers.com/src/splash-n.jpg);
    background-size: cover;
    height: 250px;
}

/*----------------------- 1° CONTAINER ----------------------- */

.p-categorias{
    border-bottom: 2px solid #009B3A; 
    color: #303030;
    font-size: 20px;
    font-family: 'Droid';
    font-weight: bold;
}

.espacamento-card{
    margin-right: 5px;
}


/* ************************************* SECTION ************************************* */

/* ************************************* FOOTER ************************************* */

/*----------------------- FOOTER TOP ----------------------- */

.footer-top{
    background-color: #fff;
    border-top: 1px solid #0000001f;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.17);
}

.p-footer-top{
    font-size: 13px;
}

.p-footer-top-img{
    margin-right: 10px;
}

@media (max-width: 768px) { 
    .borda-footer-topo{
        border: 1px solid #0000001f;
    }
}

/*----------------------- FOOTER MEIO ----------------------- */

.text-footer{
    color: #303030;
    text-decoration: none;
}

.text-footer:hover{
    text-decoration: underline;
}

.h4-footer{
    font-weight: 700;
    font-size: 15px;
}

@media (max-width: 768px) { 
    .borda-footer-topo-meio{
        border-bottom: 1px solid #0000001f;
    }
    .text-espacamento-borda{
        margin-bottom: 20px;
    }
}


